asgiref==3.8.1
Django==5.2
exceptiongroup==1.2.2
iniconfig==2.1.0
packaging==25.0
pluggy==1.5.0
pytest==8.3.5
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.13.2
Pillow==10.3.0
pdf2image==1.17.0
PyPDF2==3.0.1
pytesseract==0.3.10
unstructured[ocr,pdf]==0.12.5
pdfminer.six==20201018
openai
transformers
accelerate
sentencepiece
bitsandbytes
ipywidgets==7.7.1
python-dotenv==1.1.0
PyMuPDF
google-generativeai